.App {
  text-align: center;
}
.logo{
  border-radius: 10%;
}
#root{
  text-align: center;
  background-color:rgb(135, 182, 162) ;
  height:100%;
  position: absolute;
  width: 100%;
 }
 .rotas ul li{
   display: inline-block;
   font-size: 20px;
   padding: 10px;
   
 }
 .rotas ul li:hover{
   background-color: yellow;

 }
 .footer{
   background-color: grey;
   height: 15%;
   width: 100%;
   bottom: 0;
   right: 0;
   left: 0;
   position: absolute;
    }
.footer-menu ul li{
  display: inline-block;
  padding: 5px;
}
.footer-menu small{
  background-color: grey;
  width: 100%;
}
footer{
  background-color: grey;
}
.contact{
  background-color: olive;
  height: 580px;
  display: inline-block;
  
 }
  .about{
   background-color: rgb(252, 213, 198);
   height: 580px;
 }
 .home{
   background-color: rgb(156, 102, 102);
   height: 580px;
 }
 #txtBusca{
   width: 300px;
   height: 20px

 }

 form {
  font-family: Verdana,Tahoma,sans-serif;
  font-size: 15px;
  background-color: olive;
  display: inline-block;
  
}

h1 {
  margin-bottom: 20px;
  margin-left: 20px;
  color: #66FFFF;
  text-shadow: 5px 5px 5px black;
}

input, textarea {
  width: 200px;
  padding: 10px;
  color: black;
  margin-left: 20px;
  margin-top: 10px;
  border: 1px solid;
  display: inline-block;
}

input:hover, textarea:hover, input:focus, textarea:focus {
  border-color: #000066;
  box-shadow: 5px 0px 9px #FFFF00;
  background-color:white;
  color: black;
  font-weight: bold;
}

.enviar {
  background-color: #66FFFF;
  height: 40px;
  width: 100px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid;
  color: black;
}

textarea {
  width: 400px;
  height: 120px;
  line-height: 20px;
  max-width: 400px;
}

form label {
  margin-left: 20px;
  color: #FFFFFF;
  font-weight: bold;
}
.meu_form{
  display: inline-block;
}
form input{
  display: inline-block;
}